

<div class="card bg-light mb-3" style="max-width: 60rem;">
    <div class="card-header">Contact Details
        <a href="/" class="btn btn-secondary" style="float: right;">Back</a>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Name :</th>
                <td><%= contact.name %></td>
            </tr>
            <tr>
                <th>Mobile Number :</th>
                <td><%= contact.phoneNumber %></td>
            </tr>
            <tr>
                <th>Address :</th>
                <td><%= contact.address %></td>
            </tr>
        </table>
    </div>
  </div>
